{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1 class="text-center text-light">Create Site</h1>
<br/>
    <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-secondary alert-dismissible fade show my-auto" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="text-light text-center">
            {{ form }}
        </div>

      <div class="text-center" style="margin-top: 20px;">
          <button type="submit" class="btn btn-secondary">Create</button>
      </div>
    </form>
<br/>
<br/>

</div>

{% endblock %}